html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
	margin: 0 !important;
}

hr {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}

.tab_validated {
	background-color: #5cb85c !important; 
}